body{
  background-color: #bae4f4;
}

#main_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px #98D7F6;
  width: 1025px;
  height: 1425px;
  margin: 100px;
  border-radius: 30px;
  background-color: #98D7F6;
}

.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}
  
h2{
  font-family: "Fuzzy Bubbles", sans-serif;
  color:#D1AEB7;
} 

#inner_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px #FFFF;
  width: 900px;
  height: 1097px;
  border-radius: 30px;
  background-color: #FFFF;
  margin: 177px;
}
#home_bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px #F5C5CF;
  width: 933px;
  height: 105px;
  border-radius: 30px;
  background-color: #F5C5CF;
  
}